@media only screen and (min-width: 577px) {
	.padded-body{
		padding: 150px 200px 100px 200px;
	}
	.searchbox input{
		min-width: 325px;
	}
	.custom_input{
		width: 19%;
		margin-right: 9px;
	}
	.justify-content-between button{
		width: 122px;
	}
}

@media only screen and (max-width: 576px) {
	/* Global classes for mobile */
	.mfo-35 {
		font-size: 35px!important;
	}
	.mfo-32 {
		font-size: 32px!important;
	}
	.mfo-30 {
		font-size: 30px!important;
	}
	.mfo-25 {
		font-size: 25px!important;
	}
	.mfo-24 {
		font-size: 24px!important;
	}
	.mfo-22 {
		font-size: 22px!important;
	}
	.mfo-20 {
		font-size: 20px!important;
	}
	.mfo-18 {
		font-size: 18px;
	}
	.mfo-17 {
		font-size: 17px!important;
	}
	.mfo-16 {
		font-size: 16px!important;
	}
	.mfo-15 {
		font-size: 15px!important;
	}
	.mfo-14 {
		font-size: 14px!important;
	}
	.mfo-13 {
		font-size: 13px!important;
	}
	.mfo-12 {
		font-size: 12px!important;
	}
	.mfo-11 {
		font-size: 11px!important;
	}
	.mow-100 {
		width: 100%!important;
	}
	/* Custom classes */
	.header{
		padding: 15px 10px;
	}
	.padded-body{
		padding: 250px 10px 10px 10px;
	}
	.searchbox input{
		min-width: 290px;
	}
	.custom_input{
		width: 100%;
		padding: 10px 15px;
	}
	.justify-content-between button{
		width: 80px;
	}
}